*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#widget{
    background: #191C1F;
    color: white;
   
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    
    

    
}
.discount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.upto{
    
    
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

}
.fifty-nine{
    color: #EBC80C;
    
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;


    

}
.off{
  
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;

}
.black{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: 70px;
}
.black p{
 
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;


}
.shop-btn{
    background: #EBC80C;
    color:  #191C1F;
    text-align: center;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.012em;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
   



  
}
.close-btn{
    background-color: #303639;
    
}
.widget-inner-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-left: 170px;
    
}
#top-nav{
    background: #1B6392;
    padding: 12px ;
    display: flex;
    justify-content:center;
    align-items: center;
    
    

}
.welcome{
    transform: translateX(-90px);
    padding-right: 23px;
}
.social-nav{
    
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;

}
.outer-social{
    
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    transform: translateX(40px);

}
.logo{
    
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem;
    color: white;
   
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    


}
.search-bar form{
    display: flex;
    justify-content:center;
    align-items: center;

    
    


}
.search-bar input{
   border: none;
   padding: 14px 20px;
   width: 646px;
  
   
    
    


}
.search-icon button{
    background-color: white;
    border: none;
    margin-right: 10px;
}
.search-bar{
    background-color: white;
    border-radius: 2px;
    
    
}
.nav-class-check{
 
  
  background: #1B6392;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    
}
#middle-nav{
    background: #1B6392;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    gap: 2rem;
    
    

}
.nav-class {
    color: white;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Dropdown Button */
.dropbtn {
    background-color: #F2F4F5;
    
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover {
    background-color: #2980B9;
  }
  
  #bottom-nav{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 16px;
    padding-bottom: 16px;
    color: black;
    border-bottom: 1px solid #E4E7E9;
  
  }
  .track-order{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   

  }
  .compare{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   

  }
  .customer-support{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   

  }
  .need-help{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    

  }
  .best-deals-class{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
    gap: 1rem;
  }
  .Deals-time{
    background: #F3DE6D;
    padding: 6px 12px ;
    border-radius: 2px ;
    opacity: 0px;


    
  }
  .deals-ends{
   
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;



  }
  .best-deals{
    
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;

  }
  .off{
    background: #EFD33D;
    width: 73px;
    height: 26px;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    


  }
  .hot{
    background: #EE5858;
    width: 46px;
    height: 26px;

    
    border-radius: 2px;
    text-align: center;

    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
    

    

  }
  .rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
  }
  .rating p{
    color: #77878F;

  }
  .first-card-content{
    width:280px;
    height:182px;
    margin-left: 20px;
    
    
    


  }
  .heading {
    text-align: justify;
    width: 280px;
    height: 48px;
    

  }
  .price-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;

  }
  .details{
    color:  #5F6C72;

  }
  #add-btn{
    padding: 0px 24px;
    background: #FA8232;
    width:173px;
    height:48px;
    border-radius: 2px;
    transform: translateY(-15px);
    border: none;
    color: white;
    text-align: center;
   



  }
  .first-card{
    border: 1px solid #E4E7E9;
    width: 328px;
    height: 592px;
   

  }
  .sold{
    background: #929FA5;
    color: white;
    width: 80px;
    height:26px;
    top: 12px;
    left: 12px;
    padding: 5px 10px;
    border-radius: 2px;
   

  }
  .one{
    text-align: justify;
    width: 248px;
    height: 296px;
    border: 1px ;
    border: 1px solid #E4E7E9;

  }
  .content{
    width: 216px;
    height: 68px;
    margin-left: 10px;
    

  }
  .sold{
    margin-top: 10px;
    margin-left: 10px;
  }
  .badge{
    margin-top: 10px;
    margin-left: 10px;
  }
  .browse{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 55px;
  }
  .outer-content-class{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .first-row-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Shop p{
    margin-top: 60px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;


  }
  .two{
    width:205px;
    height: 236px;
    padding: 24px 12px ;
    gap: 16px;
    border-radius: 4px;
    border: 1px ;
    border: 1px solid #E4E7E9 ;
    

  }
  .second-row-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: scroll;
  }
  .second-row-container::-webkit-scrollbar{
    display: none;
  }
  .second-row-container-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
  }
  .back-btn .forward-btn{
    cursor: pointer;
    margin: 40px;

  }
  .two p{
    text-align: center;
  }
  .first-column p{
    
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    width: 312px;
    height: 384px;
    



  }
  .third-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;
  }
  .coulumn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 104px;
    border: 1px solid #E4E7E9 ;
  }
  .first-column{
    width: 312px;
    height:384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;



  }
  .card-content{
    width: 196px;
    height: 68px;
  }
  footer{
    background-color:#191C1F;
    padding: 72px 300px;
    margin-top: 40px;

  }
  .main-foot{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem;
    background-color:#191C1F;
    color: white;
    

    

  }
  .Accesories{
    display: flex;
    
    align-items: center;
  }
  .browse-all{
    display: flex;
   
    align-items: center;
  }
  .Clicon-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }
  .Clicon-logo div{
    
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;

  }
  #ecommerce{
    width: 312px;
    height: 216px;
   

  }
  .light{
   
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color:#77878F;
    


  }
  .dark{
   
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;


  }
  .foot-col div{
    width: 200px;
  }
  #quick-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .download-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color:#303639;
    text-align: center;
    padding: 16px 20px;
    

  }
  #download-app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

  }
  .popular-row button{
    background-color:#303639;
    color: white;
    padding: 6px 12px;
  }
  .cart-no{
    color: #1B6392;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    position: absolute;
    bottom: 12px;
    left: 15px;
  }
  .shoping-cart{
    position: relative;
  }
  
  .modal-overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal-wrapper {
	
	height: 300px;
	background: #ffff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 880px;

}

.open-modal-btn-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close-modal-btn,
.open-modal-btn {
	
	cursor: pointer;
}

.close-btn-wrapper {
	display: flex;
    justify-content: flex-end;
    
}

.modal-content {
	margin: 20px auto;
	
	width: 700px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.close-modal-btn{
  background-color: #191c1fdd;
  border-radius: 99%;
  border: none;
}

.hide {
	display: none;
}

h1 {
	text-align: center;
}
#modal-btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 100px;
}
.item-quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 16px 20px;
  border: 1px solid black;
  height: 48px;
}
.item-quantity button{
  background-color: white;
  border: none;
}
.buy-now-btn{
  color: #FA8232;
  padding: 0px 32px;
  height: 48px;
    width: 120px;
  background-color: white;
  border: 1px solid #FA8232;
   

}
.buy-now-btn p{
  width: 64px;
}
.add-btn-modal{
  margin-top: 30px;
}
.minus{
  font-size: 22px;
  cursor: pointer;
}
.plus{
  font-size: 22px;
  cursor: pointer;
}
.shoping-card{
  
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-left: 200px;
  

}
.shoping{
  color: #2DA5F3;


}
.shoping-outer-class{
  background: #F2F4F5;

}
.shoping-card-box{
  border: 1px solid #E4E7E9;
  margin-top: 50px;
  width: 772px;
  height: auto;
  margin-left: 60px;
}
.outer-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.heading-box{
  background: #F2F4F5;
  padding: 10px 24px ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}
.shoping-name{
  padding: 20px 24px;
}
.item-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 70px;
  margin-top: 30px;
  
  
}
.item-img{
  width: 52px;
  height: 52px;
}
.item-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 130px;

}
.checkout-box{
  width:424px;
  height:344px;
  display: flex;
  padding: 10px;
 
  gap: 1rem;
  flex-direction: column;
  margin-top: 90px;
  border: 1px solid #E4E7E9;

}

.subtotal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.shipping{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tax{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proceed-btn{
  padding: 12px;
  border: none;
  background: #FA8232;
  color: white;
  
  height: 56px;
  
  margin-left: 20px;




}
.price-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tax-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-amount-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.card-totals{
  margin-left: 10px;
  margin-top: 30px;
}
#itm-name{
  width: 60px;
}
